__pycache__/

pretrained_weights/

iplocid/results/

iplocid/training.sh
iplocid/code_training.py
iplocid/shell_experiment.sh


iplocid/evaluation.sh
iplocid/shell_evaluation.sh
iplocid/shell_evaluation_using_single-testset.sh
